PORT=5001
JWT_SECRET=your_jwt_secret_key_here
MASTER_PIN=1234

# Database Configurations
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=fintech
DATABASE_URL=postgresql://postgres:your_password@localhost:5432/fintech

# Redis Configurations
REDIS_URL=redis://localhost:6379
QUANT_ENGINE_URL=http://127.0.0.1:8000
